In [325]:
# import the data

import pandas as pd
import numpy as np

data = pd.read_csv('online_shoppers_intention-1.csv', header = 0)

In [326]:
total_rows=len(data.axes[0])
total_cols=len(data.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 12330
Number of Columns: 18

In [327]:
# Checks to see which columns have missing values

data.isnull().any()

Administrative             False
Administrative_Duration    False
Informational              False
Informational_Duration     False
ProductRelated             False
ProductRelated_Duration    False
BounceRates                False
ExitRates                  False
PageValues                 False
SpecialDay                 False
Month                      False
OperatingSystems           False
Browser                    False
Region                     False
TrafficType                False
VisitorType                False
Weekend                    False
Revenue                    False
dtype: bool

In [328]:
# taking a look at the data

data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,True,False
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,True,False
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,True,False
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,False,False
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,True,False

In [329]:
# to numericalize 0 as False and 1 as True for the 'Weekend' and 'Revenue' attributes

data['Weekend'] = data['Weekend'].astype(int)
data['Revenue'] = data['Revenue'].astype(int)

In [330]:
# to check and see if the changes have been made

data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,1,1,1,1,Returning_Visitor,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,Feb,2,2,1,2,Returning_Visitor,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,Feb,4,1,9,3,Returning_Visitor,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,Feb,3,2,2,4,Returning_Visitor,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,Feb,3,3,1,4,Returning_Visitor,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,Dec,4,6,1,1,Returning_Visitor,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,Nov,3,2,1,8,Returning_Visitor,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,Nov,3,2,1,13,Returning_Visitor,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,Nov,2,2,3,11,Returning_Visitor,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,Nov,3,2,1,2,New_Visitor,1,0

In [331]:
# to count every item in a category

data.groupby(['Month'])['Revenue'].count()

Month
Aug      433
Dec     1727
Feb      184
Jul      432
June     288
Mar     1907
May     3364
Nov     2998
Oct      549
Sep      448
Name: Revenue, dtype: int64

In [332]:
# to count every item in a category

data.groupby(['VisitorType'])['Revenue'].count()

VisitorType
New_Visitor           1694
Other                   85
Returning_Visitor    10551
Name: Revenue, dtype: int64

In [333]:
# maps the mean with each item in the category with their positive target value (Revenue)

data.groupby(['Month'])['Revenue'].mean()

Month
Aug     0.175520
Dec     0.125072
Feb     0.016304
Jul     0.152778
June    0.100694
Mar     0.100682
May     0.108502
Nov     0.253502
Oct     0.209472
Sep     0.191964
Name: Revenue, dtype: float64

In [334]:
# maps the mean with each item in the category with their positive target value (Revenue)

data.groupby(['VisitorType'])['Revenue'].mean()

VisitorType
New_Visitor          0.249115
Other                0.188235
Returning_Visitor    0.139323
Name: Revenue, dtype: float64

In [335]:
# assigns the mean value for each category in their respective column

mdata = data.groupby(['Month'])['Revenue'].mean().to_dict() 
  
data['Month'] =  data['Month'].map(mdata) 

mdata = data.groupby(['VisitorType'])['Revenue'].mean().to_dict() 
  
data['VisitorType'] =  data['VisitorType'].map(mdata) 
  
data

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,0.016304,1,1,1,1,0.139323,0,0
1,0,0.0,0,0.0,2,64.000000,0.000000,0.100000,0.000000,0.0,0.016304,2,2,1,2,0.139323,0,0
2,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.000000,0.0,0.016304,4,1,9,3,0.139323,0,0
3,0,0.0,0,0.0,2,2.666667,0.050000,0.140000,0.000000,0.0,0.016304,3,2,2,4,0.139323,0,0
4,0,0.0,0,0.0,10,627.500000,0.020000,0.050000,0.000000,0.0,0.016304,3,3,1,4,0.139323,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,0.007143,0.029031,12.241717,0.0,0.125072,4,6,1,1,0.139323,1,0
12326,0,0.0,0,0.0,5,465.750000,0.000000,0.021333,0.000000,0.0,0.253502,3,2,1,8,0.139323,1,0
12327,0,0.0,0,0.0,6,184.250000,0.083333,0.086667,0.000000,0.0,0.253502,3,2,1,13,0.139323,1,0
12328,4,75.0,0,0.0,15,346.000000,0.000000,0.021053,0.000000,0.0,0.253502,2,2,3,11,0.139323,0,0
12329,0,0.0,0,0.0,3,21.250000,0.000000,0.066667,0.000000,0.0,0.253502,3,2,1,2,0.249115,1,0

In [336]:
# take the 'Revenue' column seoartely as its the the class label
target = data.iloc[:, -1]

# remove the 'Revenue' column from the data
temp = data.iloc[:, 1:17]

In [337]:
# creates a NumPy ndarray object for the data

X = np.array(temp)
y = np.array(target)

In [338]:
# Import the necessary sklearn packages

from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering

In [339]:
kmeans = KMeans(n_clusters=4)

# array contains the cluster assigned to each item/row
clusters = kmeans.fit_predict(X)

In [340]:
%%time

# this cell computes the Rand Index for K-Means

S = 0
D = 0
m = total_rows
RI = 0

# to check each possible pair in the dataset
for i in range(m):
    x1 =  clusters[i]
    y1 = y[i]
    
    for j in range(i+1, m):
        x2 = clusters[j]
        y2 = y[j]
        
        # checks and see if a pair has the same value in 'Revenue' (0 or 1) and is put in the same cluster
        if(x1 == x2 and y1 == y2):
            S = S + 1
            
        # checks and see if a pair has a different value in 'Revenue' (0 or 1) and is put in a different cluster
        if(x1 != x2 and y1 != y2):
            D = D + 1
            
RI = 2*(S + D)/(m*(m-1))
print(RI)

0.613275381756081
Wall time: 44.1 s

In [341]:
calg = AgglomerativeClustering(n_clusters=4)

# array contains the cluster assigned to each item/row
clusters2 = calg.fit_predict(X)

In [342]:
%%time

# this cell computes the Rand Index for Complete-Linkage AGNES

S = 0
D = 0
m = total_rows
RI = 0

# to check each possible pair in the dataset
for i in range(m):
    x1 =  clusters2[i]
    y1 = y[i]
    
    for j in range(i+1, m):
        x2 = clusters2[j]
        y2 = y[j]
        
        # checks and see if a pair has the same value in 'Revenue' (0 or 1) and is put in the same cluster
        if(x1 == x2 and y1 == y2):
            S = S + 1
        
        # checks and see if a pair has a different value in 'Revenue' (0 or 1) and is put in a different cluster
        if(x1 != x2 and y1 != y2):
            D = D + 1
            
RI = 2*(S + D)/(m*(m-1))
print(RI)

0.6557215966654162
Wall time: 46.7 s